@model IEnumerable<FGG_PRUEBA_TECNICA.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h1>Buscador</h1>
<form asp-action="Index">
    <div class="input-group">

        <label for="CodClienteSearch">Código de cliente:</label><br><br>
        <input type= "text" id="CodClienteSearch" name="CodClienteSearch" class="form-control"/> 

        <label for="NombreSearch">Nombre:</label><br><br>
        <input type= "text" id="NombreSearch" name="NombreSearch" class="form-control"/>

        <label for="FechaInicioSearch">Fecha Inicio:</label><br><br>
        <input type= "text" id="FechaInicioSearch" name="FechaInicioSearch" class="form-control"/>

        <label for="CodigoComercialSearch">Cóodigo Comercial:</label><br><br>
        <input type= "text" id="CodigoComercialSearch" name="CodigoComercialSearch" class="form-control"/>   
        
        <label for="ActivoSearch">Activo:</label><br><br>
        <input type= "text" id="ActivoSearch" name="ActivoSearch" class="form-control"/>

    </div>
    <div></div>
    <div clas="input-group-append">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>    
</form>
<div></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idClientes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idClientes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idClientes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
